{
	"root": true,
	"env": {
		// 一个环境定义了一组预定义的全局变量。
		"es6": true, // 启用es6语法
		"node": true // - Node.js 全局变量和 Node.js 作用域。
	},
	"extends": [
		"standard",
		"plugin:node/recommended"
	],
	"plugins": [
		"standard",
		"node"
	],
	"rules": {
		"semi": [
			"error",
			"always"
		],
		"quotes": [
			"error",
			"double"
		],
		"no-multiple-empty-lines": "error",
		"no-var": "error",
		"no-template-curly-in-string": "off",
		"node/no-deprecated-api": "off",
		"camelcase": "off",
		"no-bitwise": "off",
		"no-case-declarations": "off",
		"no-new": "off",
		"new-cap": "off",
		"no-unmodified-loop-condition": "off",
		"no-loop-func": "off",
		"prefer-promise-reject-errors": "off",
		"node/no-unsupported-features/es-syntax": "off",
		"standard/no-callback-literal": "off",
		"no-tabs": "off",
		"indent": [
			"error",
			"tab"
		],
		"space-before-function-paren": [
			"error",
			{
				"anonymous": "never",
				"named": "never",
				"asyncArrow": "always"
			}
		],
		"arrow-parens": [
			"error",
			"as-needed"
		]
	}
}